@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply cursor-pointer no-underline;
  }
}

@layer components {
  /* Define typographic styles */
  .heading {
    @apply font-sans text-6xl font-bold tracking-tight;
  }

  .display {
    @apply font-display text-6xl font-normal;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Universal styles */
* {
  user-select: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}